<div class="background">
    <div class="container">
        <h1 class="title">Damas GPT</h1>
        <div class="divider">
            <section>
                <h2 class="player-name">Jogador</h2>
            </section>
            <main>
                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>

                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>

                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>

                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>

                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>

                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>

                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>

                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square red-piece"></div>
                <div class="white-square"></div>
                <div class="blue-square"></div>
                <div class="white-square"></div>
                <div class="blue-square black-piece"></div>
                <div class="white-square"></div>
            </main>
            <section>
                <h2 class="player-name">IA</h2>
            </section>
        </div>
    </div>
</div>